<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
    <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <title>
                plantilla_boleta_mamalona
            </title>
            <meta name="author" content="Julio Enrique Zariñán Rodríguez"/>
        <style type="text/css">
            * {margin:0; padding:0; text-indent:0; }
            .h1 { color: #FFF; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
            h2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt; }
            .p, p { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; margin:0pt; }      
            .s1 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
            .s2 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
            .s3 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
            table, tbody {vertical-align: top; overflow: visible; }
        </style>
    </head>

    <body>
        <p style="padding-left: 5pt;text-indent: 0pt;text-align: left;">
            <span>
                <img width="198" height="63" alt="image" src="C:/Users/jezar/Downloads/DGTIPOCKET/editar_word/plantilla_boleta_mamalona/Image_001.jpg"/>
            </span>
        </p>
        <p style="text-indent: 0pt;text-align: left;">
            <br/>
        </p>
        <p style="padding-top: 4pt;padding-left: 5pt;text-indent: 0pt;text-align: left;">
            <span class="h1" style=" background-color: #716B6B;">
                BOLETA DE CALIFICACIONES                                            
            </span>
        </p>
        <p style="text-indent: 0pt;text-align: left;">
            <br/>
        </p>
        SUBSISTEMA:
        <span class="p">
            DIRECCIÓN GENERAL DE EDUCACIÓN TECNOLÓGICA INDUSTRIAL Y DE SERVICIOS
        </span>
        <center><div style="margin-left: auto;">
            <h2 style="padding-left: 55pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
            </h2>
            <h2 style="padding-left: 55pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                PLANTEL:
                <span class="p">
                    CETIS NO. 155
                </span>
            </h2>
            <h2 style="padding-left: 55pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                CLAVE DEL CENTRO DE TRABAJO:
                <span class="p">
                    01DCT0004C
                </span>
            </h2>
            <h2 style="padding-left: 55pt;text-indent: 0pt;text-align: left;">
                NO. CONTROL:
                <span class="p">
                    {{ control }}
                </span>
                NOMBRE:
                <span class="p">
                    {{ nombre }}
                </span>
                SEMESTRE:
                <span class="p">
                    {{ semestre }}
                </span>
            </h2>
        </div>
        <div style="margin-right: auto;">
            <h2 style="padding-left: 55pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                CARRERA:
                <span class="p">
                    {{ carre }}
                </span>
            </h2>
            <h2 style="padding-left: 55pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
                TURNO:
                <span class="p">
                    {{ turno }}
            </span>
            </h2>
            <h2 style="padding-left: 55pt;text-indent: 0pt;text-align: left;">
                GRUPO:
                <span class="p">
                    {{ grupo }}
                </span>
                GENERACION:
                <span class="p">
                    {{ gen }}
                </span>
                MODALIDAD:
                <span class="p">
                    BT
                </span>
            </h2>
        </div></center>
        <p style="text-indent: 0pt;text-align: left;">
            <br/>
        </p>
        <p style="padding-left: 55pt;text-indent: 0pt;line-height: 1pt;text-align: left;">
            <span>
                <hr>
            </span>
        </p>
        <p style="text-indent: 0pt;text-align: left;">
            <br/>
        </p>
        <table style="border-collapse:collapse;margin-left:16.96pt" cellspacing="0">
            <tr style="height:25pt">
                <td style="width:117pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;text-indent: 0pt;text-align: left;">
                        MATERIAS
                    </p>
                </td>
                <td style="width:252pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;text-indent: 0pt;text-align: left;">
                        ASIGNATURA/ MODULO
                    </p>
                </td>
                <td style="width:55pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;text-indent: 0pt;text-align: left;">
                        1ER. P.
                    </p>
                </td>
                <td style="width:56pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;text-indent: 0pt;text-align: left;">
                        2DO. P.
                    </p>
                </td>
                <td style="width:55pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;text-indent: 0pt;text-align: left;">
                        3ER. P.
                    </p>
                </td>
                <td style="width:54pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;padding-right: 20pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                        1ER. A.
                    </p>
                </td>
                <td style="width:56pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;padding-right: 20pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                        2DO. A.
                    </p>
                </td>
                <td style="width:55pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                    <p class="s1" style="padding-left: 10pt;padding-right: 20pt;text-indent: 0pt;line-height: 12pt;text-align: left;">
                        3ER. A.
                    </p>
                </td>
            </tr>
            {% for i in range(boleta|length) %}
                {% if i is divisibleby(2) and i != (boleta|length -1) %}
                    <tr style="height:38pt">
                        <td style="width:117pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][0] }}
                            </p>
                        </td>
                        <td style="width:252pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][1] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 2] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 3] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="text-indent: 0pt;text-align: center;">
                                {{ boleta[i][4] }}
                            </p>
                        </td>
                        <td style="width:54pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 5] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 6] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="text-indent: 0pt;text-align: center;">
                                {{ boleta[i][7] }}
                            </p>
                        </td>
                    </tr>
                {% elif not i is divisibleby(2) and i != (boleta|length -1) %}
                    <tr style="height:38pt">
                        <td style="width:117pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][0] }}
                            </p>
                        </td>
                        <td style="width:252pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][1] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 2] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 3] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="text-indent: 0pt;text-align: center;">
                                {{ boleta[i][4] }}
                            </p>
                        </td>
                        <td style="width:54pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 5] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 6] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="text-indent: 0pt;text-align: center;">
                                {{ boleta[i][7] }}
                            </p>
                        </td>
                    </tr>
                {% elif i is divisibleby(2) and i == (boleta|length -1) %}
                    <tr style="height:38pt">
                        <td style="width:117pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][0] }}
                            </p>
                        </td>
                        <td style="width:252pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][1] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 2] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 3] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="text-indent: 0pt;line-height: 13pt;text-align: center;">
                                {{ boleta[i][4] }}
                            </p>
                        </td>
                        <td style="width:54pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 5] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 6] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                            <p class="s2" style="text-indent: 0pt;line-height: 13pt;text-align: center;">
                                {{ boleta[i][7] }}
                            </p>
                        </td>
                    </tr>
                {% else %}
                    <tr style="height:38pt">
                        <td style="width:117pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][0] }}
                            </p>
                        </td>
                        <td style="width:252pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 13pt;text-align: left;">
                                {{ boleta[i][1] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 2] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 3] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="text-indent: 0pt;text-align: center;">
                                {{ boleta[i][4] }}
                            </p>
                        </td>
                        <td style="width:54pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 10pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 5] }}
                            </p>
                        </td>
                        <td style="width:56pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="padding-left: 11pt;padding-right: 1pt;text-indent: 0pt;line-height: 12pt;text-align: center;">
                                {{ boleta[i][ 6] }}
                            </p>
                        </td>
                        <td style="width:55pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#BEBEBE">
                            <p class="s2" style="text-indent: 0pt;text-align: center;">
                                {{ boleta[i][7] }}
                            </p>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        <p style="text-indent: 0pt;text-align: left;">
            <br/>
        </p>
        <p style="padding-top: 4pt;padding-left: 293pt;text-indent: 0pt;text-align: center;">
            AMIRA IVETTE JAUREGUI PEREZ
        </p>
        <p style="text-indent: 0pt;text-align: left;">
            <br/>
        </p>
        <p style="padding-left: 273pt;text-indent: 0pt;line-height: 1pt;text-align: left;">
            <span>
                <hr>
            </span>
        </p>
        <p class="s3" style="padding-top: 3pt;padding-left: 293pt;text-indent: 0pt;text-align: center;">
            LA DIRECTORA DEL PLANTEL
        </p>
    </body>
</html>
