{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}

  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color:#fff;
  }
  
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #3498db;
    color: #fff;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #ecf0f1;
  }
  
  table tbody td:hover {
    background-color: #bdc3c7;
  }
  .event-day{
    background-color: #ADD8E6;
  }

  .event-day{
    background-color: #ADD8E6;
  }

  .current-day{
    background-color:#87CEFA;
    color:#fff;
  }
  /* Estilos responsivos para pantallas pequeñas */
  @media only screen and (max-width: 600px) {
    .tabla-responsive {
        overflow-x: auto;
    }
    table {
        font-size: 6px;
        width: 10%;
        max-width: 80%;
        border-collapse: collapse;
        margin: 0;
        
      }

      table a {
        font-size: 6px; /* Ajusta el tamaño según tus necesidades */
        color: #3498db; /* Cambia el color de los enlaces si lo deseas */
        text-decoration: none; /* Elimina el subrayado predeterminado */
      }
    th, td {
    word-wrap: break-word; 
      width: 10%;
      box-sizing: border-box;
    }
    
    /* Alineación del texto en las celdas */
    th, td {
        word-wrap: break-word; 
      text-align: center;
    }
    
    /* Estilos alternativos para filas impares en pantallas pequeñas */
    tr:nth-child(odd) {
      background-color: #fff; /* Fondo blanco para filas impares */
    }

  .miDiv {
    width: 200px;
    height: 200px; /* Puedes ajustar la altura según tus necesidades */
    
}
.boton {
    text-decoration: none;
    color: #3498db;
    transition: color 0.3s ease-in-out;
  }
  
  .boton:hover {
    color: #2980b9;
  }

}

{% endblock %}



{% block content %}


    <h2>Calendario con Eventos</h2>

    <h3 id="mes-anio"></h3>

    <div class="nav-buttons">
        <button onclick="cambiarMes(-1)">Mes Anterior</button>
        <button onclick="cambiarMes(1)">Mes Siguiente</button>
    </div>
<div class="cl">
    <table id="calendario">
        <thead>
            <tr>
                <th>Domingo</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas del calendario se generarán dinámicamente con JavaScript -->
        </tbody>
    </table>
    
</div>
<h1>Horaio <strong>{{parametros['grado']}}{{parametros['grupo']}}</strong></h1>
<img  class="horario"  src="https://github.com/Yael200206/EduLife-pdf/blob/main/pdf/horarios/img/{{parametros['grado']}}{{parametros['grupo']}}.pdf.png?raw=true">
    <a class="boton" href="\horarios\{{archivo}}" download="{{archivo}}.pdf">
       Descargar PDF 
    </a>
    <div class="miDiv"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            generarCalendario();
        });

        var fecha = new Date();
        var eventos = {{ eventos | tojson | safe }};

        function cambiarMes(delta) {
            fecha.setMonth(fecha.getMonth() + delta);
            generarCalendario();
        }

        function generarCalendario() {
            var year = fecha.getFullYear();
            var month = fecha.getMonth();
            var day = fecha.getDate(); // Obtener el día actual

            var nombreMes = obtenerNombreMes(month);

            var diasEnMes = new Date(year, month + 1, 0).getDate();
            var primerDiaSemana = new Date(year, month, 1).getDay();

            var tableBody = document.getElementById("calendario").getElementsByTagName("tbody")[0];
            tableBody.innerHTML = "";

            var fila = tableBody.insertRow();

            for (var i = 0; i < primerDiaSemana; i++) {
                fila.insertCell();
            }

            for (var i = 1; i <= diasEnMes; i++) {
                var cell = fila.insertCell();
                var dayLink = document.createElement("a");
                dayLink.href = construirURLDia(i, month, year); // Construir la URL según el día, mes y año
                dayLink.innerHTML = i;
                cell.appendChild(dayLink);

                // Verificar si hay eventos para resaltar el día
                if (tieneEventos(i, month, year)) {
                    cell.classList.add("event-day");
                    agregarEventosEnCelda(cell, i, month, year);
                }

                // Resaltar el día actual solo si estamos en el mes actual y es el día de hoy
                if ( month === fecha.getMonth() && i === day ) {
                    cell.classList.add("current-day");
                }

                if ((i + primerDiaSemana) % 7 === 0) {
                    fila = tableBody.insertRow();
                }
            }

            // Actualizar el elemento h6 con el nombre del mes y año actual
            document.getElementById("mes-anio").innerText = nombreMes + " - Año: " + year;
        }

        function obtenerNombreMes(numeroMes) {
            var meses = [
                "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
            ];
            return meses[numeroMes];
        }

        function tieneEventos(dia, mes, anio) {
            for (var i = 0; i < eventos.length; i++) {
                var evento = eventos[i];
                var eventoDate = new Date(evento.start);
                if (eventoDate.getDate() === dia && eventoDate.getMonth() === mes && eventoDate.getFullYear() === anio) {
                    return true;
                }
            }
            return false;
        }

        function agregarEventosEnCelda(cell, dia, mes, anio) {
            var eventosEnCelda = eventos.filter(function (evento) {
                var eventoDate = new Date(evento.start);
                return eventoDate.getDate() === dia && eventoDate.getMonth() === mes && eventoDate.getFullYear() === anio;
            });

            eventosEnCelda.forEach(function (evento) {
                var tituloElemento = document.createElement("div");
                tituloElemento.classList.add("event-title");
                tituloElemento.innerText = evento.title;

                //var descripcionElemento = document.createElement("div");
                //descripcionElemento.innerText = evento.description;

                cell.appendChild(tituloElemento);
                //cell.appendChild(descripcionElemento);
            });
        }

        function construirURLDia(dia, mes, anio) {
            
            return "https://patotipo.pythonanywhere.com/nuevoE/" + anio + "/" + mes + "/" + dia;
        }
    </script>
    
    
    </div>
</div> 
{% endblock %}