{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
.tarjeta {
    width: 300px;
    border: 2px solid #3498db; /* Contorno azul */
    margin: 10px;
    padding: 10px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Márgenes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    text-align: center;
    margin-left: 10%;

  }

  .imagen {
    width: 100%;
    padding: 0;
    border: 0;
  }

  .imagen img {
    width: 100%; /* Asegura que la imagen sea cuadrada */
    height: 100%;
    object-fit: cover;
  }

  .titulo {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Texto negro */
  }

  .informacion {
    font-size: 14px;
    margin-top: 10px;
    color: #333; /* Texto negro */
  }

  .area-trabajo {
    font-size: 12px;
    margin-top: 10px;
    color: #333
  }
  iframe{
    height:100%;
    whidth:100%;
  }
  .meme{
    height:100%;
    whidth:100%;
  }
{% endblock %}

{% block content %}

<div class="meme">
<iframe src="https://campus.chamilo.org" height"100%" width"100%" allowfullscreen></iframe>
</div>



{% endblock %}