{% extends "layouts/layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
table {
    width: 100%;
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
  .titulo {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #2e4ead;
    color: #fff;
    padding: 10px;
  }
{% endblock %}

{% block content %}



<div class="titulo">Tutorías</div>
<table>
    <tr>
      <th>Clase</th>
      <th>Maestro</th>
      <th>Salón</th>
      <th>Horarios</th>
    </tr>
    {% for tuto in tutorias %}
    <tr>
      <td>{{tuto[4]}}</td>
      <td>{{tuto[3]}}</td>
      <td>{{tuto[1]}}</td>
      <td>{{tuto[2]}}</td>
    </tr>
    {% endfor %}
  </table>



{% endblock %}