{% extends "layoutapp.html" %}


{% block title %}
INICIO
{% endblock %}


{% block style %}
iframe {
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana visible */
    border: 0; /* Eliminar el borde del iframe */
  }
{% endblock %}



{% block content %}
<div id="google-content"></div>

    <script>
        // Utilizamos la API Fetch para obtener el contenido de Google
        fetch('https://www.classroom.com')
            .then(response => response.text())
            .then(data => {
                // Insertamos el contenido en un div en nuestra página
                document.getElementById('google-content').innerHTML = data;
            })
            .catch(error => console.error('Error al cargar el contenido:', error));
    </script>
{% endblock %}