{% extends "layoutapp.html" %}


{% block title %}
INICIO
{% endblock %}


{% block style %}
iframe {
    width: 100%;
    height: 100vh; /* 100% de la altura de la ventana visible */
    border: 0; /* Eliminar el borde del iframe */
  }
{% endblock %}



{% block content %}
<div id="miContenedor"></div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            // URL de la página que deseas cargar
            var url = 'https://www.classroom.com';

            // Elemento donde se cargará el contenido
            var contenedor = $('#miContenedor'); // Reemplaza 'miContenedor' con el ID de tu elemento

            // Realiza la solicitud AJAX para obtener el contenido de la página
            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'html',
                success: function(data) {
                    // Muestra el contenido en el elemento especificado
                    contenedor.html(data);
                },
                error: function() {
                    contenedor.html('Error al cargar la página.');
                }
            });
        });
    </script>
{% endblock %}