{% extends "layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
.calendario-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Puedes ajustar este valor según tus necesidades para controlar la relación de aspecto */
    margin-top:20px;
    
}

.calendario-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border: 0;
    border-radius:30px;
    margin:5px;
}

.noticias {
    max-width: 800px;
    width: 100%;
}

.noticia {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.h2 {
    color: #333;
}

.p {
    color: #666;
}

.img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}
.item{
    background-color: #fff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 body {
   background: #eee;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;  
   min-height: 100vh;
 }
 .container{
   width: 90%;
 
   padding: 10px 40px;
 }
 .container .swiper-container{
   width: 100%;
   height: 100%;
 }
 .container .swiper-slide {
   position: relative;
   text-align: center;
   font-size: 18px;
   background: #fff;
   border-radius: 15px;
   text-align: start;
   box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
  
 }
 .container .swiper-slide img{
    display: block;
     width: 100%;
     height: 180px;
     object-fit: cover;
     border-top-left-radius: 15px;
     border-top-right-radius: 15px;
 
 }
 .container .swiper-slide .card-description{
     padding:1rem 1rem;
 }
 .container .swiper-slide .card-title,.container .swiper-slide .card-text{
    margin-bottom: .5rem;
 }
 .container .swiper-slide .card-link{
    text-align: center;
   
 }
 .container .swiper-slide .card-link a{
     text-decoration: none;
     color: #1d6ce2;
 }
 .swiper-button-next{
     right: 26px !important;
 }
 .swiper-button-prev{
     left: 26px !important;
 }

{% endblock %}

<div class="g-singnin2" data-onsuccess="onSignIn"></div>



{% block content %}
<p class="usuario">Bienvenido, <strong>{{parametros['name']}}</strong></p>

<div class="container">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-container mySwiper">
     
        <div class="swiper-wrapper">
         
        {% for noticia in noticias[-3::][::-1] %}
            <div class="swiper-slide">
                {% if noticia.3 %}
                <img src="{{ noticia.3 }}"
                    alt="">
                {% endif %}
                <div class="card-description">
                    <div class="card-title">
                        <h4>{{ noticia.1 }}</h4>
                    </div>
                    <div class="card-title">
                        <h4>{{ noticia.4 }}</h4>
                    </div>
                    <div class="card-text">
                        <p>{{ noticia.2 }}</p>
                    </div>
                    
                </div>

            </div>
            {% endfor %}
            
   
        </div>
     
     

    </div>

</div>



<div class='item'>
    <div class="noticias">
        {% for noticia in noticias[-3::][::-1] %}
        <div class="noticia">
            <h2 class='h2'>{{ noticia.1 }}</h2>
            {% if noticia.3 %}
                <img class='img' src="{{ noticia.3 }}" alt="Imagen de la noticia">
            {% endif %}
            <p class="p"> {{ noticia.4 }}</p>
            <p class="p">{{ noticia.2 }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<div class='item'>
    <div class="calendario-responsive">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FMexico_City&showTitle=1&showNav=1&showPrint=0&showTabs=0&showCalendars=0&hl=es&showTz=0&src=OTkyY2NlYzZjZWUyYTBhY2M3OGE1MjU2MmRmZGU5MGQwYzMwOGE1ODI5ZTYyNjI0MmU3ZDEzMjdkMDBlZWZkMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMubWV4aWNhbiNob2xpZGF5QGdyb3VwLnYuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23039BE5&color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</div> 

<h1 class="center">Concursos</h1>
<ul class="concursos-list">
    {% for concurso in concursos %}
        <li>{{ concurso[0] }}</li>
    {% endfor %}
</ul>





<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock %}