{% extends "layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
.calendario-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Puedes ajustar este valor según tus necesidades para controlar la relación de aspecto */
}

.calendario-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

{% endblock %}

<div class="g-singnin2" data-onsuccess="onSignIn"></div>



{% block content %}
<p class="usuario">Bienvenido, <strong>{{parametros['name']}}</strong></p>

<div class="calendario-responsive">
    <iframe src="https://calendar.google.com/calendar/embed?src=992ccec6cee2a0acc78a52562dfde90d0c308a5829e626242e7d1327d00eefd2%40group.calendar.google.com&ctz=America%2FMexico_City" frameborder="0" scrolling="no"></iframe>
</div>

{% for noticia in noticias %}
<div class="noticia">
    <h2>{{ noticia.1 }}</h2>
    <p>{{ noticia.2 }}</p>
    {% if noticia.3 %}
        <img src="{{ noticia.3 }}" alt="Imagen de la noticia">
    {% endif %}
    <p>Fecha: {{ noticia.4 }}</p>
</div>
{% endfor %}

<h1 class="center">Concursos</h1>
<ul class="concursos-list">
    {% for concurso in concursos %}
        <li>{{ concurso[0] }}</li>
    {% endfor %}
</ul>
{% endblock %}