{% extends "layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
.calendario-responsive {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%; /* Puedes ajustar este valor según tus necesidades para controlar la relación de aspecto */
    margin-top:20px;
    
}

.calendario-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border: 0;
    border-radius:30px;
    margin:5px;
}



.img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}
.item{
    background-color: #fff;
}



/* Estilo para la clase avisos */
.avisos {
    /* Puedes agregar estilos generales para la clase avisos aquí */
}

/* Estilo para la clase aviso */
.aviso {
    background-color: #f0f8ff; /* Color de fondo azul claro */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior entre avisos */
    border: 1px solid #add8e6; /* Borde azul claro */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilo para el título h2 dentro de la clase aviso */
.aviso h2 {
    color: #000080; /* Color del texto azul oscuro */
}

/* Estilo para los párrafos p dentro de la clase aviso */
.aviso p {
    color: #0000cd; /* Color del texto azul medio */
    margin: 5px 0; /* Espaciado interno superior e inferior */
}


/* Estilo para el título h1 con la clase center */
.center {
    text-align: center; /* Centrar el texto */
    color: #333; /* Color de texto oscuro */
}

/* Estilo para la lista ul con la clase concursos-list */
.concursos-list {
    list-style: none; /* Elimina los estilos de lista (viñetas) */
    padding: 0; /* Elimina el espaciado interno predeterminado de la lista */
    margin: 0; /* Elimina el margen externo predeterminado de la lista */
}

/* Estilo para cada elemento div con la clase concurso */
.concurso {
    border: 1px solid #ddd; /* Borde gris claro */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior entre concursos */
    background-color:#fff;
}

/* Estilo para el título h2 dentro de la clase concurso */
.concurso h2 {
    color: #555; /* Color de texto gris oscuro */
}

/* Estilo para la imagen img dentro de la clase concurso */
.concurso img {
    max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
    height: auto; /* Mantener la proporción original de la imagen */
    display: block; /* Eliminar el espacio inferior adicional */
    margin: 10px 0; /* Espaciado interno superior e inferior */
}

/* Estilo para los párrafos p dentro de la clase concurso */
.concurso p {
    color: #777; /* Color de texto gris */
    margin: 5px 0; /* Espaciado interno superior e inferior */
}
/* Estilo básico para la horario */
.horario {
    width: 100%;
    height: auto; /* Para mantener la proporción de la imagen */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra la imagen en su contenedor si es necesario */
    max-width: 100%; /* Garantiza que la imagen no sea más grande que su contenedor */
  }





.carousel-container {
    width: 100%;
    height:auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0044d0;
    border-radius: 10%;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #fff;
}

.card-content {
    padding: 16px;
}

.h2 {
    color: #fff;
}

.p {
    color: #fafbfd;
}
.aviso {
    min-width: 100%;
    background-color: #f0f8ff; /* Color de fondo azul claro */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior entre avisos */
    border: 1px solid #add8e6; /* Borde azul claro */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden;
    text-align: left;
}

.h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.p {
    font-size: 1em;
    margin-bottom: 8px;
}


.carousel-containerA {
    width: 100%;
    height:auto;
    overflow: hidden;
}

.carouselA {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.cardA {
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #0044d0;
    border-radius: 10%;
    overflow: hidden;
}

.cardA img {
    width: 100%;
    height: auto;
    border-bottom: 3px solid #fff;
}

.card-contentA {
    padding: 16px;
}

.p {
    color: #fafbfd;
}
.aviso {
    min-width: 100%;
    background-color: #f0f8ff; /* Color de fondo azul claro */
    padding: 15px; /* Espaciado interno */
    margin-bottom: 15px; /* Espaciado inferior entre avisos */
    border: 1px solid #add8e6; /* Borde azul claro */
    border-radius: 5px; /* Bordes redondeados */
    overflow: hidden;
    text-align: left;
}

.h2 {
    font-size: 1.5em;
    margin-bottom: 10px; 
    color: #fff;
}

.p {
    font-size: 1em;
    margin-bottom: 8px;
}
h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.5em; /* Ajusta el tamaño según tus necesidades */
    color: #333; /* Color de texto, ajusta según tu diseño */
    text-align: center; /* Ajusta la alineación según tus necesidades */
  }
  
  /* Asegúrate de incluir la fuente Montserrat en tu proyecto */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  
{% endblock %}

<div class="g-singnin2" data-onsuccess="onSignIn"></div>



{% block content %}


<p class="usuario">Bienvenido, <strong>{{parametros['name']}}</strong></p>
<br>

<div class="carousel-containerA">
    <div class="carouselA">
        {% for aviso in avisos[-3::][::-1] %}
        <div class="aviso">
            <h2 class="h2">{{ aviso.1 }}</h2>
            <p class="p">{{ aviso.2 }}</p>
            <p class="p">{{ aviso.3 }}</p>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h1>Horario <strong>{{parametros['grado']}}{{parametros['grupo']}}</strong></h1>
<img  class="horario"  src="https://github.com/kito089/DGTIPOCKET/blob/master/pagina_android/horarios/img/{{parametros['grado']}}{{parametros['grupo']}}.pdf.png?raw=true">

<br>
<div class="div-lado-a-lado"></div>
<br>
<div class="carousel-container">
    <div class="carousel">
        
            
        {% for noticia in noticias[-3::][::-1] %}
        <div class='card'>
            <div class="noticia">
                <h2 class='h2'>{{ noticia.1 }}</h2>
                {% if noticia.3 %}
                
                    <img class='img' src="{{ noticia.3 }}" >
                {% endif %}
                <p class="p"> {{ noticia.4 }}</p>
                <p class="p">{{ noticia.2 }}</p>
            </div>
        </div>
        {% endfor %}
            
        
    </div>
</div>
<br>
<div class="div-lado-a-lado"></div>
<h1 class="center">Concursos</h1>
<ul class="concursos-list">
    {% for concurso in concursos[-3::][::-1] %}
    <div class="concurso">
        <h2 class='h2'>{{ concurso.1 }}</h2>
        {% if concurso.3 %}
            <img class='img' src="{{ concurso.3 }}" alt="Imagen del concurso">
        {% endif %}
        <p class="p"> {{ concurso.4 }}</p>
        <p class="p">{{ concurso.2 }}</p>
    </div>
    {% endfor %}
</ul>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

{% endblock %}