{% extends "layoutapp.html" %}

{% block title %}
insert noticias
{% endblock %}
{% block style %}


.a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

form {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.center {
    text-align: center;
}
{%endblock%}


{% block content %}
  
<a class="a" href="/instabla">insertar tablas </a>

<h1>Insertar Noticia</h1>
<form action="/insnot/noticias" method="POST" id="noticias">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulonoticias" ><br>

    <label for="descripcion">Descripción:</label>
    <textarea id="contenidoN" name="descripcionnoticias" ></textarea><br>

    <label for="img">URL de la imagen:</label>
    <input type="text" id="imgN" name="imgnoticias"><br>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fechanoticias"><br>

    <input  value="Guardar" onclick="push();">
</form>

    <h1 class="center">Inserción de Avisos</h1>

    <div class="container">
        <form action="/insnot/avisos" method="post">
            <div class="form-group">

                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="tituloavisos" ><br>
            
                <label for="descripcion">Contenido:</label>
                <textarea id="text" name="descripcionavisos" ></textarea><br>
            
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fechaavisos"><br>
            
                <input type="submit" value="Guardar"> 
        </form>
    </div>

    <h1 class="center">Inserción de Concursos</h1>

    <div class="container">
        <form action="/insertar_concurso" method="post">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" ><br>
            
                <label for="descripcion">Descripción:</label>
                <textarea id="text" name="descripcion" requred></textarea><br>
            
                <label for="img">URL de la imagen:</label>
                <input type="text" id="img" name="img"><br>
            
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha"><br>
            
                <input type="submit" value="Guardar">
             </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.8/push.min.js"></script>
    <script>
    function push(){
        var contenido = document.getElementById('contenidoN').value;
        var formulario = document.getElementById('noticias');
        Push.Permission.request();
        Push.create('Noticias',{
            body: contenido,
            icon:"",
            timeout:1500000,
            vibrate:[100,100,100],

        });
        formulario.submit();
    }
</script>
{% endblock %}