<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
    <div class="intro">
        <img src="https://github.com/Yael200206/EduLife-pdf/blob/main/imagenes/variantes%20icono/variantes%20icono%20app.png?raw=true" alt="clarkode logo">
        <h1 class="logo">
            <span class="logo-parts">E</span>
            <span class="logo-parts">D</span>
            <span class="logo-parts">U</span>
            <span class="logo-parts"> </span>
            <span class="logo-parts">L</span>
            <span class="logo-parts">I</span>
            <span class="logo-parts">F</span>
            <span class="logo-parts">E</span>
        </h1>
        <p>Pene pito caca miados mierda </p>
    </div> 

    <div class="content">

        <a src="/login">inciar sesion</a>
    
    </div>

    <script src="{{ url_for('static', filename='js/intro.js') }}"></script>

</body>
</html>