<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="106989237730851487847">
    <title>{% block title %}Edulife{% endblock %}</title>
    <style>{% block style %}{% endblock %}</style>
</head>

  <body class="hidden">
    <div class='centra' id="onload"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
    

    <nav>
      <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
            <div class="logo"><img class='log' src="https://i.ibb.co/LvSSpTX/eDULIFE.png" alt="eDULIFE" border="0"></div>

          <div class="menu-items">
            <li><a href="/logout"><img src="{{parametros['picture']}}" class="Avatar"><p class="usuario"> <strong>{{parametros['name']}}</strong></a></li>
            <li><a href="/">Inicio</a></li>
            <li><a href="/funciones">Funciones</a></li>
            <li><a href="/planteles">Plantel</a></li>
            <li><a href="/noticias">Noticias</a></li>
            <li><a href="/login">Configuracion</a></li>
            <li><a href="/insnot">insert</a></li>
            <li></p></li>

          </div>
        </div>
      </div>
    </nav>

    <div class="contenedor">
      
        {% block content %}
        {% endblock %}	
    </div>
  </body>
  <script>
    function onSignIn(googleUser){
      var profile = googleUser.getBasicProfile();
      console.log('ID: '+profile.getID());
      console.log('Nombre: '+profile.getName());
      console.log('Email: '+profile.getEmail());
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/1.0.8/push.min.js"></script>

  <script>
    Push.Permission.request();
    window.onload=function(){
      $('#onload').fadeOut();
      $('body').removeClass('hidden');
      Push.Permission.request();
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js">  </script>
    




  
  <!-- Agrega el SDK de Firebase a tu página -->
<script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-messaging.js"></script>


<!-- Configura tu aplicación Firebase -->
<script>
  const firebaseConfig = {
    apiKey: "AIzaSyDofXAA-Fbmo1SX2aKszjjJjVwOR16isV0",
    authDomain: "patotipo.pythonanywhere.com",
    projectId: "dgtipocket",
    storageBucket: "gs://dgtipocket.appspot.com",
    messagingSenderId: "1092101831178",
    appId: "1:1092101831178:android:b6f1746cec222a7411bdf3"
  };

  // Inicializa Firebase
  firebase.initializeApp(firebaseConfig);

  // Obtén una instancia del servicio de mensajería (FCM)
  const messaging = firebase.messaging();

  // TODO: Aquí puedes agregar lógica para manejar el token del dispositivo
  // Por ejemplo, puedes enviar el token al servidor para registrar el dispositivo
  messaging.getToken().then((token) => {
    console.log("Token del dispositivo:", token);
    // Aquí puedes enviar el token al servidor para registrarlo en tu base de datos
  }).catch((error) => {
    console.error("Error al obtener el token:", error);
  });
</script>


  

  
</html>