{% extends "layout.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
table {
    border-collapse: collapse;
    width: 100%;
}

/* Estilo para las celdas */
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* Estilo para las filas impares (cambia el color de fondo) */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para las filas pares (sin fondo de color) */
tr:nth-child(even) {
    background-color: #ffffff;
}


{% endblock %}

{% block content %}

{% endblock %}