{% extends "layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}

#anuncio {
    text-align: center;
}

#mensaje {
    font-size: 24px;
    color: #3498db;
    margin-top: 20px;
}
.img{
    border-radius:20%;
}

{% endblock %}



{% block content %}
<div id="anuncio">
    <h1>¡Página en Desarrollo!</h1>
    <p id="mensaje">"Construyendo experiencias web asombrosas para ti."</p>
    <img class="img"src="https://github.com/kito089/DGTIPOCKET/blob/master/imagenes/variantes%20icono/1.png?raw=true">
</div>
{% endblock %}