{% extends "layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}

.img {
  width: 100vw; /* Ancho completo de la ventana */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block;
  border-radius:10%;
  margin-bottom: 20px; /* Espaciado entre la imagen y la tabla */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

{% endblock %}


{% block content %}

{% if "155" in parametros['hd']%}
<div id="contenedor-imagen">
  <img id="imagen" class="img" src="https://github.com/kito089/DGTIPOCKET/blob/master/imagenes/Croquis%202023%20Agosto23-Enero2024B210823_page-0001.jpg?raw=true" alt="Imagen">
</div>





{% endif %}


{% endblock %}