{% extends "layoutapp.html" %}

{% block title %}
INICIO
{% endblock %}
{% block style %}
body {
  margin: 0;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

#contenedor-imagen {
  position: relative;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: hidden;
}

#imagen {
  width: 100%;
  height: 100%;
  object-fit: contain;
  touch-action: none; /* Evita el desplazamiento en dispositivos táctiles para mejorar la experiencia de zoom */
}

/* Estilos para el zoom */
#imagen {
  cursor: zoom-in;
}

#imagen.zoom {
  cursor: zoom-out;
}

{% endblock %}


{% block content %}

{% if "155" in parametros['hd']%}
<div id="contenedor-imagen">
  <img id="imagen" src="ruta-de-tu-imagen.jpg" alt="Imagen">
</div>

{% endif %}

<script>
  var imagen = document.getElementById('imagen');
  var initialTouch = null;

  imagen.addEventListener('click', function(e) {
    if (e.touches && e.touches.length === 2) {
      // Manejar el evento de doble toque para el zoom en dispositivos táctiles
      e.preventDefault();
      this.classList.toggle('zoom');
      initialTouch = null;
    }
  });

  imagen.addEventListener('touchstart', function(e) {
    // Almacenar la posición inicial del toque para el zoom en dispositivos táctiles
    if (e.touches && e.touches.length === 1) {
      initialTouch = e.touches[0];
    }
  });

  imagen.addEventListener('touchmove', function(e) {
    // Manejar el movimiento táctil para el zoom en dispositivos táctiles
    if (e.touches && e.touches.length === 2 && initialTouch) {
      e.preventDefault();
      var touch1 = e.touches[0];
      var touch2 = e.touches[1];

      var distance = Math.hypot(touch2.clientX - touch1.clientX, touch2.clientY - touch1.clientY);
      var initialDistance = Math.hypot(initialTouch.clientX - touch1.clientX, initialTouch.clientY - touch1.clientY);

      var delta = distance - initialDistance;

      if (delta > 10) {
        this.classList.add('zoom');
      } else if (delta < -10) {
        this.classList.remove('zoom');
      }
    }
  });
</script>

{% endblock %}