{% extends "layouts/layoutD.html" %}

{% block title %}
insert noticias
{% endblock %}
{% block style %}

h1 {
    color: #333;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 100%;
}

input[type="file"] {
    display: none;
}

.drag-area {
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drag-area:hover {
    background-color: #f9f9f9;
}

.drag-text {
    text-align: center;
    font-size: 16px;
    color: #555;
}

.file-preview {
    margin-top: 15px;
    font-size: 14px;
    color: #888;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
{%endblock%}


{% block content %}


<h1>Subir Archivo Excel con Arrastrar y Soltar</h1>
    <form action="/subirCal" method="post" enctype="multipart/form-data">
        <div class="drag-area" id="dragArea">
            <div class="drag-text">Arrastra y suelta el archivo aquí o haz clic</div>
            <input type="file" name="file" accept=".xlsx, .xls" id="fileInput" required>
        </div>
        <div class="file-preview" id="filePreview"></div>
        <input type="submit" value="Subir">
    </form>

    <script>
        const dragArea = document.getElementById('dragArea');
        const fileInput = document.getElementById('fileInput');
        const filePreview = document.getElementById('filePreview');

        dragArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            dragArea.classList.add('drag-over');
        });

        dragArea.addEventListener('dragleave', () => {
            dragArea.classList.remove('drag-over');
        });

        dragArea.addEventListener('drop', (e) => {
            e.preventDefault();
            dragArea.classList.remove('drag-over');
            const files = e.dataTransfer.files;

            if (files.length > 0) {
                fileInput.files = files;
                updateFilePreview();
            }
        });

        fileInput.addEventListener('change', () => {
            updateFilePreview();
        });

        function updateFilePreview() {
            const fileName = fileInput.files[0].name;
            filePreview.textContent = `Archivo seleccionado: ${fileName}`;
        }
    </script>
{% endblock %}
    
