{% extends "layouts/layoutD.html" %}

{% block title %}
insert noticias
{% endblock %}


{% block style %}

.file-upload-form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .file-upload-label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .file-upload-design {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px dashed #3498db;
    border-radius: 8px;
  }
  
  .file-upload-design svg {
    fill: #3498db;
    margin-right: 10px;
  }
  
  .browse-button {
    color: #3498db;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
  }
  
  input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Estilos para dispositivos más pequeños */
  @media screen and (max-width: 600px) {
    .file-upload-form {
      padding: 10px;
    }
  
    .file-upload-design {
      flex-direction: column;
      align-items: flex-start;
    }
  }
{%endblock%}


{% block content %}
<form class="file-upload-form" action="/driveMas" method="post" enctype="multipart/form-data">
    <label for="file" class="file-upload-label">
      <div class="file-upload-design">
        <svg viewBox="0 0 640 512" height="1em">
          <path
            d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"
          ></path>
        </svg>
        <p>Arrastra</p>
        <p>o</p>
        <span class="browse-button">Buscar Archivo</span>
      </div>
      <input type="file" name="file"  required>
    </label>
            {% for l in letras %}
                {% for i in range(6) %}
                    <input type="checkbox" name="{{i+1}}{{l[0]}}" value="True"> {{i+1}}{{l[1]}}"
                {% endfor %}
            {% endfor %}
    <input type="submit" value="Subir">
  </form>
  
{% endblock %}
    