{% extends "layouts/layoutD.html" %}

{% block title %}
insert noticias
{% endblock %}
{% block style %}

h1 {
  color: #333;
  text-align: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto; /* Añade esta línea para centrar el formulario horizontalmente */
}

input[type="file"] {
  display: none;
}

.drag-area {
  width: 100%;
  height: 150px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.drag-area:hover {
  background-color: #f9f9f9;
}

.drag-text {
  text-align: center;
  font-size: 16px;
  color: #555;
}

.file-preview {
  margin-top: 15px;
  font-size: 14px;
  color: #888;
}
input{
  margin:10px;
}
input[type="file"] {
  display: none;
}

input[type="submit"], input[type="button"] {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #2980b9;
}





  .cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    margin-right:10px;
  }
  
  
  .checkbox-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .label {
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  


{%endblock%}


{% block content %}

<h1>Subir Archivo Excel con Botón</h1>
    <form action="/subirCal" method="post" enctype="multipart/form-data">
        <div class="drag-area" id="dragArea">
            <div class="drag-text">Arrastra y suelta el archivo aquí o haz clic</div>
            <input type="file" name="file"  id="fileInput" required>
        </div>
        <div class="file-preview" id="filePreview"></div>
        <input type="submit" value="Subir">


        <input type="button" value="Seleccionar Archivo" onclick="document.getElementById('fileInput').click()">

        <h2>Selecciona los salones deseados</h2>
      <div class="checkbox-container">
    {% for i in range(6)  %}
    <label class="label">
        {% for l in letras %}
            <label class="cyberpunk-checkbox-label">
              <input type="checkbox" class="cyberpunk-checkbox " name="{{i+1}}{{l[0]}}">
              {{i+1}}{{l[1]}}</label>
        {% endfor %}
      </label>
    {% endfor %}    
    </form>

    <script>
        const dragArea = document.getElementById('dragArea');
        const fileInput = document.getElementById('fileInput');
        const filePreview = document.getElementById('filePreview');

        dragArea.addEventListener('dragover', (e) => {
            e.preventDefault();
            dragArea.classList.add('drag-over');
        });

        dragArea.addEventListener('dragleave', () => {
            dragArea.classList.remove('drag-over');
        });

        dragArea.addEventListener('drop', (e) => {
            e.preventDefault();
            dragArea.classList.remove('drag-over');
            const files = e.dataTransfer.files;

            if (files.length > 0) {
                fileInput.files = files;
                updateFilePreview();
            }
        });

        fileInput.addEventListener('change', () => {
            updateFilePreview();
        });

        function updateFilePreview() {
            const fileName = fileInput.files[0].name;
            filePreview.textContent = `Archivo seleccionado: ${fileName}`;
        }
    </script>
      


{% endblock %}
    





