{% extends "layouts/layoutD.html" %}

{% block title %}
insert noticias
{% endblock %}
{% block style %}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Color de fondo general */
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

th, td {
  padding: 12px;
  text-align: left;
}

thead {
  background-color: #333;
  color: #fff;
}

tbody {
  background-color: #fff; /* Color de fondo para filas pares */
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo para filas impares */
}

.verde a {
  color: #fff;
  background-color: #4caf50; /* Color de fondo verde */
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}

.rojo a {
  color: #fff;
  background-color: #f44336; /* Color de fondo rojo */
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
}
  .verde {
    background-color: green; /* Cambia el color de fondo a verde */
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
  }

  .rojo {
    background-color: red; /* Cambia el color de fondo a rojo */
    color: white; /* Cambia el color del texto a blanco para mayor contraste */
  }
{%endblock%}


{% block content %}
  
<h1 class="h1">{{ table }}<h1>
<table>
    <thead>
      <tr>
        {% for a in atributos[1:] %}
          <th>{{ a }}</th>
        {% endfor %}
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for fila in datos %}
        <tr>
          {% for dato in fila[1:] %}
            <td>{{ dato }}</td>
          {% endfor %}
            <td class="verde"><a href="/edDat/{{table}}/{{fila[0]}}">Editar</a></td>
            <td class="rojo"><a href="/delDat/{{table}}/{{fila[0]}}">Borrar</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}